stages:
  - lint
  - test
  - deploy

syntax_check:
  stage: lint
  script:
    - echo "Checking JavaScript syntax"
    - node -c script.js

unit_test:
  stage: test
  script:
    - npm install
    - npm test

pages:
  stage: deploy
  script:
    - mkdir public
    - cp index.html style.css script.js public/
  artifacts:
    paths:
      - public
  only:
    - main
